html {
	font-family: sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}
h1 {
	text-align: center;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	vertical-align: center;
	margin: 0;
	border: 0;
	padding: 0;
	font: inherit;
	font-size: 100%;
}

table {
	display: block;
	border: 2px solid rgb(200, 200, 200);
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	overflow-x: auto;
	font-size: 0.8rem;
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	padding: 0.625rem 0.9375rem;
	text-align: center;
}

th {
	background-color: rgb(235, 235, 235);
	font-weight: 900;
}

tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
	background-color: rgb(245, 245, 245);
}

caption {
	padding: 0.625rem;
}

tbody {
	font-size: 95%;
}

.planet-name {
	border: 2px solid black;
}
